$white: #ffffff;
$white-soft: #f6f6f6;
$black: #181818;
$black-soft: #222222;
$green: #cdcea7;
$orange-light: #ffe3b0;
$orange: #e47161;
$brown-medium: #753e4e;
$brown-dark: #492e34;
$brown-footer: #3e272c;
$dark-grey: #a9a9a9;
$orange-white: #fff4df;

$background: $white-soft;
